<nav class="navbar bg-transparent justify-content-end mb-5 me-3">
  <a routerLink="/search" class="text-decoration-none text-white" routerLinkActive="active-anchor">
    <button class="btn btn-dark bg-transparent border-0">
      Search
    </button>
  </a>
  <a routerLink="/favorites" class="text-decoration-none text-white" routerLinkActive="active-anchor">
    <button class="btn btn-dark bg-transparent border-0">
      Favorites
    </button>
  </a>
</nav>
<router-outlet></router-outlet>
<!--<a class="text-decoration-underline clickable">-->
<!--  Show Less-->
<!--</a>-->

<!--<div class="container fs-5">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <mat-tab-group mat-align-tabs="center" backgroundColor="primary" dynamicHeight class="px-0">-->
<!--        <mat-tab label="Artist/Teams">-->
<!--          <div class="col justify-content-center d-flex">-->
<!--            <div id="carouselControls" class="carousel slide col">-->
<!--              <div class="carousel-inner mx-auto">-->
<!--                <div class="carousel-item active">-->
<!--                  <div class="col mx-0 text-center text-white">-->
<!--                    <div class="row justify-content-center align-items-center mb-4 mt-3">-->
<!--                      <div class="col-md-3 col-sm-12">-->
<!--                        <img [src]="'https://i.scdn.co/image/ab6761610000e5ebc3359d7e67fee87fd5071ed0'" class="artist-profile-img">-->
<!--                        <p class="header mb-3">Chris Botti</p>-->
<!--                      </div>-->
<!--                      <div class="col">-->
<!--                        <div class="row">-->
<!--                          <div class="col-md-4 col-sm-12 mb-3">-->
<!--                            <div class="header mb-2">Popularity</div>-->
<!--                            <div class="position-relative">-->
<!--                              <mat-progress-spinner mode="determinate" value="100" class="mx-auto" diameter="40"></mat-progress-spinner>-->
<!--                              <div class="position-absolute start-50 top-50 translate-middle d-inline-block">50</div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="col-md-4 col-sm-12 mb-3">-->
<!--                            <div class="header mb-2">Followers</div>-->
<!--                            <div class="fw-bold">-->
<!--                              {{"141301".toLocaleString()}}-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="col-md-4 col-sm-12 mb-3">-->
<!--                            <div class="header mb-2">Spotify Link</div>-->
<!--                            <a target="_blank" href="https://open.spotify.com/artist/3eFo5fMv53RYZBYlvT5Z6a"-->
<!--                               rel="noopener noreferrer">-->
<!--                              <i class="bi bi-spotify fs-1" style="color: rgb(15,128,21);"></i>-->
<!--                            </a>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                  </div>-->
<!--                    <div class="row justify-content-center">-->
<!--                      <div class="col-md-12 col-8">-->
<!--                        <p class="header mb-4 col text-start fs-6">Album featuring Chris Botti</p>-->
<!--                        <div class="row gx-5">-->
<!--                          <div class="col-md-4 mb-4 start-0">-->
<!--                            <img  src="https://i.scdn.co/image/ab67616d0000b273a886004df16f6f30fcd1eda5" class="img-fluid">-->
<!--                          </div>-->
<!--                          <div class="col-md-4 mb-4 start-50">-->
<!--                            <img  src="https://i.scdn.co/image/ab67616d0000b273a886004df16f6f30fcd1eda5" class="img-fluid">-->
<!--                          </div>-->
<!--                          <div class="col-md-4 mb-4 start-100">-->
<!--                            <img  src="https://i.scdn.co/image/ab67616d0000b273a886004df16f6f30fcd1eda5" class="img-fluid">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-tab>-->
<!--      </mat-tab-group>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="d-flex justify-content-center ">-->
<!--  <div  class="text-decoration-underline clickable d-inline-block me-1" style="color: rgb(121,180,200)">-->
<!--    Show Less-->
<!--  </div>-->
<!--  <div class="d-inline-block m-0 down-arrow"></div>-->
<!--</div>-->

<!--<div class="d-flex justify-content-center">-->
<!--  <div  class="text-decoration-underline clickable d-inline-block me-1" style="color: rgb(121,180,200)">-->
<!--    Show Less-->
<!--  </div>-->
<!--  <div class="d-inline-block m-0 up-arrow"></div>-->
<!--</div>-->



